@media screen and (max-width: 800px){
  .section-top {
    padding: 20px;
    display: block;
    padding-bottom: 300px;
    margin-bottom: -300px;
  }

  .section-top .container-text,
  .section-top .container-text .container,
  .section-top .container-form {
    width: 100%;
    text-align: center;
    padding: 20px 0px 10px 0px;
  }

  .section-top .container-form .background-form {
    width: 90%;
  }
}
