.more-fecap {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.more-fecap h2 {
  margin-bottom: 20px;
}

.more-fecap .section {
  display: flex;
  width: 100%;
  padding: 20px 100px;
}

.more-fecap .section .container-text {
  width: 50%;
  color: var(--text-color);
  padding: 20px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.more-fecap .section .container-text p {
  margin-bottom: 20px;
  font-size: 16px;
}

.more-fecap .section .container-img {
  width: 50%;
}


.more-fecap .section .container-img img {
  width: 100%;
}
